* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #333;
  background: none;
  outline: none;
  border: none;
}
dl {
  padding: 10px 20px;
  dt {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
pre {
  line-height: 16px;
  background: #000;
  color: #fff;
  padding: 20px;
  code {
    color: #fff;
  }
}
.code-header {
  text-align: right;
  margin-bottom: 20px;
}

.example {
  padding: 10px;
  border: 2px solid #ccc;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 24px;
}

nav {
  display: flex;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 16px;
  }
}

.day-container {
  display: flex;
  justify-content: center;
  li {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    width: 200px;
    height: 60px;
  }
  .current {
    background: #ccc;
  }
}
button {
  display: flex;
  width: 80px;
  height: 24px;
  justify-content: center;
  align-items: center;
  background: #0000ff;
  color: #fff;
}
button + button {
  margin-left: 12px;
  background: #ff0000;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  tr {
    td {
      border: 1px solid #ccc;
      padding: 12px;
      text-align: center;
    }
  }
  .done {
    background: #ccc;
    opacity: .7;
  }
}

.flex {
  display: flex;
  justify-content: center;
}
.flex.right {
  justify-content: flex-end;
  margin-right: 20px;
}